.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 24px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 60px;
  text-align: center;
}